# Sort roles: tail -n +6 roles/.gitignore | sort
/*
!.gitignore
!requirements.yml
# roles
!base*/
!bitwarden*/
!docker*/
!gitea*/
!jenkins*/
!kutt*/
!libvirt*/
!mariadb*/
!minecraft*/
!nextcloud*/
!nginx*/
!postgresql*/
!prometheus*/
!proxy*/
!rsnapshot*/
!traefik*/
!unifi*/
!wordpress*/
