/*
!.gitignore
!requirements.yml
!base*/
!bitwarden*/
!docker*/
!gitea*/
!jenkins*/
!libvirt*/
!mediawiki*/
!minecraft*/
!nextcloud*/
!nginx*/
!prometheus*/
!rsnapshot*/
!traefik*/
!unifi*/
!wordpress*/
