##############
#### base ####
##############
selinux:
  state: enforcing

base_allow_reboot: true
base_manage_network: false

root_gpgkeys:
  - id: 42A3A92C5DA0F3E5F71A3710105B748C1362EB96

scripts:
  trusted_keys:
    - id: 42A3A92C5DA0F3E5F71A3710105B748C1362EB96
  repos:
    - name: dotfiles
      url: https://github.com/krislamo/dotfiles
      version: 999d745710b9db500e82d1a0d0107ac5d623a669
      scripts:
        - src: gotify/.local/bin/gotify
          dest: /usr/local/bin/gotify

################
#### proxy #####
################

proxy:
  servers:
    - domain: music.local.krislamo.org
      proxy_pass: http://127.0.0.1:4533

################
#### podman ####
################

podman_label:
  - path: /home/vagrant/navidrome
    label: system_u:object_r:container_file_t:s0
    owner: vagrant
    group: vagrant

podman_compose:
  vagrant:
    root: /opt/oci
    trusted_keys:
      - id: 42A3A92C5DA0F3E5F71A3710105B748C1362EB96
    compose:
      - name: navidrome
        url: https://github.com/krislamo/navidrome
        version: 305f92cff143c0d497d21277145f605d9da830de
        enabled: true
        accept_newhostkey: true # Consider verifying manually instead
        env:
          VERSION: latest
          BASEURL: https://music.local.krislamo.org
          MUSIC: /home/vagrant/navidrome
          LASTFM_ENABLED: "false"
          LASTFM_APIKEY: "n/a"
          LASTFM_SECRET: "n/a"
