# base
base_allow_reboot: false
base_manage_network: false

# docker
docker_users:
  - vagrant

# traefik
traefik_version: latest
traefik_dashboard: true
traefik_domain: traefik.local.krislamo.org
traefik_auth: admin:$apr1$T1l.BCFz$Jyg8msXYEAUi3LLH39I9d1 # admin:admin
#traefik_acme_email: realemail@example.com # Let's Encrypt settings
#traefik_production: true

# container settings
wordpress_version: latest
wordpress_domain: wordpress.local.krislamo.org
wordpress_multisite: true

# database settings
wordpress_dbversion: latest
wordpress_dbpass: password
# multisite (enable in admin panel then uncomment)
#wordpress_rule: "Host(`{{ wordpress_domain }}`) ||
#                 Host(`site1.{{ wordpress_domain }}`) ||
#                 Host(`site2.{{ wordpress_domain }}`)"
#
#wordpress_config_extra: |
#  define('MULTISITE', {{ wordpress_multisite | string }});
#  define('SUBDOMAIN_INSTALL', true);
#  define('DOMAIN_CURRENT_SITE', '{{ wordpress_domain }}');
#  define('PATH_CURRENT_SITE', '/');
#  define('SITE_ID_CURRENT_SITE', 1);
#  define('BLOG_ID_CURRENT_SITE', 1);
