# {{ ansible_managed }}
kutt_version={{ kutt_version }}
kutt_web={{ kutt_web }}
kutt_domain={{ kutt_domain }}
kutt_default_domain={{ kutt_default_domain }}
kutt_jwt_secret={{ kutt_jwt_secret }}
kutt_dbname={{ kutt_dbname }}
kutt_dbuser={{ kutt_dbuser }}
kutt_dbpass={{ kutt_dbpass }}
kutt_mail_user={{ kutt_mail_user }}
kutt_mail_host={{ kutt_mail_host }}
kutt_mail_password={{ kutt_mail_password }}
kutt_report_email={{ kutt_report_email }}
kutt_admin_emails={{ kutt_admin_emails }}
kutt_redis_version={{ kutt_redis_version }}
kutt_postgres_version={{ kutt_postgres_version }}
kutt_postgres_volume={{ kutt_postgres_volume }}
