- name: Reboot host
  ansible.builtin.reboot:
    msg: "Reboot initiated by Ansible"
    connect_timeout: 5
  listen: reboot_host
  when: base_allow_reboot

- name: Reconfigure locales
  ansible.builtin.command: dpkg-reconfigure -f noninteractive locales
  listen: reconfigure_locales

- name: Restart WireGuard
  ansible.builtin.service:
    name: wg-quick@wg0
    state: restarted
  listen: restart_wireguard

- name: Restart Fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted
  listen: restart_fail2ban

- name: Restart ddclient
  ansible.builtin.service:
    name: ddclient
    state: restarted
  listen: restart_ddclient

- name: Restart Samba
  ansible.builtin.service:
    name: smbd
    state: restarted
  listen: restart_samba
