- name: Install QEMU/KVM and libvirt
  ansible.builtin.apt:
    name: ["qemu-system", "libvirt-clients", "libvirt-daemon-system"]
    install_recommends: false
    state: present

- name: Add users to libvirt group
  ansible.builtin.user:
    name: "{{ item }}"
    groups: libvirt
    append: true
  with_items: "{{ libvirt_users }}"
  when: libvirt_users is defined
