[Unit]
Description=Bitwarden Password Manager Server
Requires=podman.socket
After=podman.socket
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=exec
RemainAfterExit=true
WorkingDirectory={{ bitwarden_root }}
Environment=DOCKER_HOST=unix://%t/podman/podman.sock
ExecStart={{ bitwarden_script }} start
ExecStop={{ bitwarden_script }} stop
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
