#!/usr/bin/expect -d

set timeout -1

spawn {{ bitwarden_root }}/bitwarden.sh install

expect "Enter the domain name for your Bitwarden instance (ex. bitwarden.example.com):"
send "{{ bitwarden_domain }}\r"

expect "Do you want to use Let's Encrypt to generate a free SSL certificate? (y/n):"
{% if bitwarden_standalone and bitwarden_production %}
send "y\r"
{% else %}
send "n\r"
{% endif %}

expect "Enter the database name for your Bitwarden instance (ex. vault):"
send "{{ bitwarden_database }}\r"

expect "Enter your installation id (get at https://bitwarden.com/host):"
send "{{ bitwarden_install_id }}\r"

expect "Enter your installation key:"
send "{{ bitwarden_install_key }}\r"

expect "Do you have a SSL certificate to use? (y/n):"
send "n\r"

expect "Do you want to generate a self-signed SSL certificate? (y/n):"
{% if bitwarden_standalone and not bitwarden_production %}
send "y\r"
{% else %}
send "n\r"
{% endif %}

expect "Next steps, run:\r\n`./bitwarden.sh start`"
expect eof
