version: '3'

services:
  nginx:
    networks:
      - traefik
    labels:
      traefik.http.routers.bitwarden.rule: "Host(`{{ bitwarden_domain }}`)"
      traefik.http.routers.bitwarden.entrypoints: {{ bitwarden_entrypoint | default('web') }}
      traefik.http.routers.bitwarden.tls: {{ bitwarden_traefik_tls | default('false') }}
      traefik.http.services.bitwarden.loadbalancer.server.port: 8080
      traefik.docker.network: traefik
      traefik.enable: "true"
networks:
  traefik:
    external: true
