# {{ ansible_managed }}
services:
{% for service in bitwarden_services %}
  {{ service }}:
{% if service == 'nginx' %}
    user: "0:0"
{% endif %}
{% if service == 'identity' %}
    environment:
      globalSettings__knownNetworks: "{{ bitwarden_realips }}"
    volumes:
      - {{ bitwarden_logs }}/identity:/etc/bitwarden/logs
{% endif %}
    security_opt:
      - label=level:{{ bitwarden_se_level }}
{% endfor %}
