# {{ ansible_managed }}
[Unit]
Description=Periodic refresh of {{ bitwarden_name }}'s Fail2ban jail's log file list

[Timer]
OnCalendar=*:0/15
AccuracySec=1m
Persistent=true

[Install]
WantedBy=timers.target
