{% if item.java.version is defined %}
JAVA_HOME=/usr/lib/jvm/adoptopenjdk-{{ item.java.version }}-hotspot-amd64
{% else %}
JAVA_HOME=/usr/lib/jvm/{{ minecraft_java_pkg }}-amd64
{% endif %}
JAVA_XMS={{ item.java.Xms }}
JAVA_XMX={{ item.java.Xmx }}
