version: '3.7'

volumes:
  config:
  cache:

networks:
  traefik:
    external: true

services:
  jellyfin:
    image: "jellyfin/jellyfin:${jellyfin_version}"
    container_name: "${jellyfin_name}"
    networks:
      - traefik
    labels:
      - "traefik.http.routers.{{ jellyfin_router }}.rule=Host({{ jellyfin_domains }})"
{% if traefik_http_only %}
      - "traefik.http.routers.{{ jellyfin_router }}.entrypoints=web"
{% else %}
      - "traefik.http.routers.{{ jellyfin_router }}.entrypoints=websecure"
{% endif %}
      - "traefik.http.services.{{ jellyfin_router }}.loadbalancer.server.port=8096"
      - "traefik.docker.network=traefik"
      - "traefik.enable=true"
    volumes:
      - config:/config
      - cache:/cache
      - {{ jellyfin_media }}:/media
