api:
  dashboard: true

providers:
  docker:
    exposedbydefault: false
  file:
    directory: /etc/traefik/dynamic

entrypoints:
  web:
    address: ':80'
    http:
      redirections:
        entrypoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ':443'
    http:
      tls: {}

{% if traefik_acme_email is defined %}
certificatesResolvers:
  resolver:
    acme:
      email: {{ traefik_acme_email }}
      storage: /etc/traefik/acme.json
      {% if not traefik_production -%}
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
      {% endif -%}
      httpChallenge:
        entryPoint: web
{% endif %}
