api:
  dashboard: true

providers:
  docker:
    exposedbydefault: false
  file:
    directory: /etc/traefik/dynamic

entrypoints:
  web:
    address: ':80'
    http:
      redirections:
        entrypoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ':443'
    http:
      tls: {}
