# Configuration file for ddclient managed by Ansible
#
# /etc/ddclient.conf

{% for domain in ddclient %}
{% if domain.verbose is sameas true or domain.verbose is not defined %}
verbose=yes
{% else %}
verbose=no
{% endif %}
use=web, web={{ domain.web | default('dynamicdns.park-your-domain.com/getip')}}
protocol={{ domain.protocol | default('namecheap')}}
server={{ domain.server | default('dynamicdns.park-your-domain.com')}}
login={{ domain.name }}
password={{ domain.pass }}
{{ domain.host }}

{% endfor %}
