# Configuration file for ddclient managed by Ansible
#
# /etc/ddclient.conf

{% for domain in ddclient %}
protocol={{ domain.protocol | default('namecheap')}}, verbose=yes
ssl=yes, use=web, web={{ domain.web | default('https://dynamicdns.park-your-domain.com/getip')}}
{% if domain.name is defined %}
login={{ domain.name }}
{% endif %}
password={{ domain.pass }}
{{ domain.host }}

{% endfor %}
