[global]
   workgroup = WORKGROUP
   server string = Samba Server %v
   netbios name = {{ ansible_hostname }}
   security = user
   map to guest = bad user
   dns proxy = no
{% for user in samba.users %}
   smb encrypt = {{ 'mandatory' if user.encrypt | default(false) else 'disabled' }}
{% endfor %}

{% for share in samba.shares %}
[{{ share.name }}]
   path = {{ share.path }}
   browsable = yes
{% if share.guest_allow is defined and share.guest_allow %}
   guest ok = yes
{% else %}
   guest ok = no
{% endif %}
   read only = {{ 'yes' if share.read_only | default(false) else 'no' }}
{% if share.valid_users is defined %}
   valid users = {{ share.valid_users }}
{% endif %}
{% if share.force_user is defined %}
   force user = {{ share.force_user }}
{% endif %}
{% endfor %}
